<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<style>

p::selection {
  color:red;
  background-color:yellow;
}
#list a::before {
  content: "Click here: ";
  font-weight: bold;
}
button {
        width: 100px;
        height: 30px;
        font-size: 24px;
        background-color: lightgreen;
}
button:hover {
  background-color: orange;
}

input[type=text] {background-color:lightgreen;}
input[type=number] {background-color:#0ff2f2;}

ol {color: black}
ul {color: black}

p {color:#050c17;}
  h3 {color:#050c17;
      text-align:left;}
  h4 {color:#050c17;}

  div {
  width: 100%;
  height: 100%;
  margin: 5px;
  padding: 20px;
  font-family: Arial,sans-serif;
  font-size: 18px;
  font-weight: bold;
  border: 0px solid black;}

#container {background-color: lightgreen;}

.flex {display:flex;
flex-wrap: wrap;}

.flex > div {
  background-color: springgreen;
  font-size: 18px;
  margin: 30px;
  padding: 20px;
  width: 200px;
}

.row {
  display:grid;
  background-color: springgreen;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 20px;
  grid-template-columns: auto auto auto;
}
.screen-only {
background-color: white;
font-size: 18px;}

</style>
